{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- section 1 start -->
<div class="intro-banner" data-background-image="media/Background-Home.jpg">
    <div class="container">
        <!-- Intro Headline -->
        <div class="row">
            <div class="col-md-12">
                <div class="banner-headline">
                    <h3>
                        <strong style="font-size: 40px;">Build fast, launch quickly</strong>
                        <br>
                        <span>Launch your <strong class="color">PowerApps</strong> project in style with our pre-built apps, templates and UI components.</span>
                    </h3>
                </div>
            </div>
        </div>

        <!-- Search Bar -->
        <div class="row">
            <div class="col-md-12">
                <div class="intro-banner-search-form margin-top-95">

                    <!-- Search Field -->
                    <div class="intro-search-field with-autocomplete">
                        <label for="autocomplete-input" class="field-title ripple-effect">App Function</label>
                        <div class="input-with-icon">
                            <input id="autocomplete-input" type="text" placeholder="Search App Store">
                        </div>
                    </div>

                    <div class="intro-search-button">
                        <button class="button ripple-effect" onclick="window.location.href='#'">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section 1 end -->



<!-- Trending Applications carousel -->
<div class="section gray padding-top-65 padding-bottom-65 full-width-carousel-fix">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <!-- Section Headline -->
                <div class="section-headline margin-top-0 margin-bottom-25">
                    <h3>Trending Applications</h3>
                    <a href="App_Store_Search.html" class="headline-link">Browse All Apps</a>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="default-slick-carousel freelancers-container freelancers-grid-layout">

                    <!--Freelancer -->
                    <div class="freelancer">

                        <!-- Overview -->
                        <div class="freelancer-overview">
                            <div class="freelancer-overview-inner">

                                <!-- Bookmark Icon -->
                                <span class="bookmark-icon"></span>

                                <!-- Avatar -->
                                <div class="freelancer-avatar">
                                    <div class="verified-badge"></div>
                                    <a href="App_Store_Details.html"><img src="media/Visitor.jpg" alt=""></a>
                                </div>

                                <!-- Name -->
                                <div class="freelancer-name">
                                    <img class="flag" src="media/powerapps-logo.png" alt="" title="PowerApps" data-tippy-placement="top">
                                    <h4>
                                        <a href="App_Store_Details.html">Visitor 365 </a>
                                    </h4>
                                    <span>Customer Service</span>
                                </div>

                                <!-- Rating -->
                                <div class="freelancer-rating">
                                    <div class="star-rating" data-rating="5.0"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Details -->
                        <div class="freelancer-details">
                            <div class="freelancer-details-list">
                                <ul>
                                    <li>
                                        Version:
                                        <strong>
                                            <i style="padding-right: 5px;" class="icon-line-awesome-gear"></i>
                                            1.1
                                        </strong>
                                    </li>
                                    <li>
                                        File Size:
                                        <strong>
                                            <i style="padding-right: 5px;" class="icon-line-awesome-database"></i>
                                            3mb
                                        </strong>
                                    </li>
                                    <li>
                                        Last Updated
                                        <strong>
                                            <i style="padding-right: 5px;" class="icon-line-awesome-upload"></i>
                                            20/08/2019
                                        </strong>
                                    </li>
                                </ul>
                            </div>
                            <a href="App_Store_Details.html" class="button button-sliding-icon ripple-effect">View App<i class="icon-material-outline-arrow-right-alt"></i></a>
                        </div>
                    </div>
                    <!-- Freelancer / End -->

                    <!--Freelancer -->
                    <div class="freelancer">

                        <!-- Overview -->
                        <div class="freelancer-overview">
                            <div class="freelancer-overview-inner">

                                <!-- Bookmark Icon -->
                                <span class="bookmark-icon"></span>

                                <!-- Avatar -->
                                <div class="freelancer-avatar">
                                    <div class="verified-badge"></div>
                                    <a href="#"><img src="media/safety.jpg" alt=""></a>
                                </div>

                                <!-- Name -->
                                <div class="freelancer-name">
                                    <img class="flag" src="media/powerapps-logo.png" alt="" title="PowerApps" data-tippy-placement="top">
                                    <h4>
                                        <a href="#">Visitor Safety 365
                                        </a>
                                    </h4>
                                    <span>Safety Apps</span>
                                </div>

                                <!-- Rating -->
                                <div class="freelancer-rating">
                                    <div class="star-rating" data-rating="5.0"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Details -->
                        <div class="freelancer-details">
                            <div class="freelancer-details-list">
                                <ul>
                                    <li>
                                        Version:
                                        <strong>
                                            <i style="padding-right: 5px;" class="icon-line-awesome-gear"></i>
                                            1.2
                                        </strong>
                                    </li>
                                    <li>
                                        File Size:
                                        <strong>
                                            <i style="padding-right: 5px;" class="icon-line-awesome-database"></i>
                                            4mb
                                        </strong>
                                    </li>
                                    <li>
                                        Last Updated
                                        <strong>
                                            <i style="padding-right: 5px;" class="icon-line-awesome-upload"></i>
                                            20/08/2019
                                        </strong>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="button button-sliding-icon ripple-effect">View App <i class="icon-material-outline-arrow-right-alt"></i></a>
                        </div>
                    </div>
                    <!-- Freelancer / End -->

                    <!--Freelancer -->
                    <div class="freelancer">
                        <!-- Overview -->
                        <div class="freelancer-overview">
                            <div class="freelancer-overview-inner">
                                <!-- Bookmark Icon -->
                                <span class="bookmark-icon"></span>

                                <!-- Avatar -->
                                <div class="freelancer-avatar">
                                    <a href="#"><img src="media/eir evo.png" alt=""></a>
                                </div>

                                <!-- Name -->
                                <div class="freelancer-name">
                                    <img class="flag" src="media/powerapps-logo.png" alt="" title="PowerApps" data-tippy-placement="top">
                                    <h4>
                                        <a href="#">
                                            Expenses 365 User
                                        </a>
                                    </h4>
                                    <span>Finance Apps</span>
                                </div>

                                <!-- Rating -->
                                <div class="freelancer-rating">
                                    <div class="star-rating" data-rating="5.0"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Details -->
                        <div class="freelancer-details">
                            <div class="freelancer-details-list">
                                <ul>
                                    <li>
                                        Version:
                                        <strong>
                                            <i style="padding-right: 5px;" class="icon-line-awesome-gear"></i>
                                            1.1
                                        </strong>
                                    </li>
                                    <li>
                                        File Size:
                                        <strong>
                                            <i style="padding-right: 5px;" class="icon-line-awesome-database"></i>
                                            3mb
                                        </strong>
                                    </li>
                                    <li>
                                        Last Updated
                                        <strong>
                                            <i style="padding-right: 5px;" class="icon-line-awesome-upload"></i>
                                            20/08/2019
                                        </strong>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="button button-sliding-icon ripple-effect">View App <i class="icon-material-outline-arrow-right-alt"></i></a>
                        </div>
                    </div>
                    <!-- Freelancer / End -->

                    <!--Freelancer -->
                    <div class="freelancer">

                        <!-- Overview -->
                        <div class="freelancer-overview">
                            <div class="freelancer-overview-inner">

                                <!-- Bookmark Icon -->
                                <span class="bookmark-icon"></span>

                                <!-- Avatar -->
                                <div class="freelancer-avatar">
                                    <div class="verified-badge"></div>
                                    <a href="#"><img src="media/app-logo.jpg" alt=""></a>
                                </div>

                                <!-- Name -->
                                <div class="freelancer-name">
                                    <img class="flag" src="media/powerapps-logo.png" alt="" title="PowerApps" data-tippy-placement="top">
                                    <h4>
                                        <a href="#">
                                            Vehicle Check
                                        </a>
                                    </h4>
                                    <span>Customer service</span>
                                </div>

                                <!-- Rating -->
                                <div class="freelancer-rating">
                                    <div class="star-rating" data-rating="5.0"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Details -->
                        <div class="freelancer-details">
                            <div class="freelancer-details-list">
                                <ul>
                                    <li>
                                        Version:
                                        <strong>
                                            <i style="padding-right: 5px;" class="icon-line-awesome-gear"></i>
                                            1.1
                                        </strong>
                                    </li>
                                    <li>
                                        File Size:
                                        <strong>
                                            <i style="padding-right: 5px;" class="icon-line-awesome-database"></i>
                                            3mb
                                        </strong>
                                    </li>
                                    <li>
                                        Last Updated
                                        <strong>
                                            <i style="padding-right: 5px;" class="icon-line-awesome-upload"></i>
                                            20/08/2019
                                        </strong>
                                    </li>
                                </ul>
                            </div>
                            <a href="#" class="button button-sliding-icon ripple-effect">View App<i class="icon-material-outline-arrow-right-alt"></i></a>
                        </div>
                    </div>
                    <!-- Freelancer / End -->

                    <!--Freelancer -->

                    <!-- Freelancer / End -->

                    <!--Freelancer -->

                    <!-- Freelancer / End -->


                </div>
            </div>

        </div>
    </div>
</div>
<!-- Trending Applications / End-->



<!-- Photo Section -->
<div class="photo-section" data-background-image="media/Spark-Idea.jpg">
    <!-- Infobox -->
    <div class="text-content white-font">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h2>Collect PowerApp Ideas <br> with eir evo Inspire!</h2>
                    <p>eir Inspire is an Idea collection tool for generating the best and most unique app ideas from your company. Submit or find an idea for the next big thing!</p>
                    <a href="#" class="button button-sliding-icon ripple-effect big margin-top-20">Submit Ideal<i class="icon-material-outline-arrow-right-alt"></i></a>
                </div>
            </div>

        </div>
    </div>

    <!-- Infobox / End -->

</div>
<!-- Photo Section / End -->

{% endblock %}