/* ---------------------------------- */
/* Site Defaults
------------------------------------- */

body {
    font-family: 'Roboto', sans-serif;
    color: #777;

}

h1,
h2,
h3 {
    font-family: 'Lato', sans-serif;
}

.pp-color {

    color: #742774
}

.eirevo-color {
    color: #1232D2;
}

/* -------------------------------------------------------------- */
/* 01. Import Section
----------------------------------------------------------------- */

@import url('icons.css');

/* ---------------------------------- */
/* Fonts
------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100&display=swap');

/* ---------------------------------- */
/* Header
------------------------------------- */
#logo {
    display: inline-block;
    border-right: 1px solid #e0e0e0;
    height: 100%;
    vertical-align: top;
    padding-right: 35px;
    margin-right: 20px;

    width: 150px;
}

#logo img {
    height: 42px;
    width: auto;
    top: 50%;
    position: relative;
    transform: translate3d(0, -50%, 0);
}

#header {
    position: relative;
    z-index: 999;
    padding: 0;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.12);
    font-size: 16px;
    height: 82px;
    background-color: #fff;
}

#header .container,
#header .right-side,
#header .left-side {
    height: 100%;
}

.right-side {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: 15px;
}

.right-side a {
    color: #1232D2;
}

/* Full Width Header */
header.fullwidth .container {
    max-width: 100%;
    margin: 0;
    padding: 0 35px;
}

/* ---------------------------------- */
/* Navigation
------------------------------------- */
#navigation {
    position: relative;
    display: inline-block;
    margin-top: 22px;
}

#navigation ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

#navigation ul a {
    display: block;
    text-decoration: none;
    padding: 5px 0;
}

#navigation ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0
}

#navigation ul li ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 9px;
    padding: 0;
    z-index: 99999;
}

#navigation ul ul li {
    float: none;
}

#navigation ul ul ul {
    top: 0;
    left: 100%;
    margin: 0 0 0 15px;
}

#navigation ul ul {
    margin: 0;
}

#navigation ul ul ul {
    pointer-events: none;
}

#navigation ul ul li:hover>ul {
    pointer-events: all;
}


#navigation ul ul:before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    background: rgba(255, 255, 255, 0);
    width: 100%;
    height: 10px;
}

#navigation ul ul ul:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 100%;
    left: -15px;
    top: 0;
    opacity: 0;
}

#navigation ul li:hover>ul {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

/* Indicator Arrow */
#navigation ul li a:after,
#navigation ul ul li a:after {
    font-family: "Material-Icons";
    content: '\e914';
    opacity: 1;
    font-size: 16px;
    transition: 0.2s;
    opacity: 1;
    line-height: 17px;
    width: 17px;
    height: 17px;
    background-color: #f0f0f0;
    color: #a8a8a8;
    display: inline-block;
    border-radius: 3px;
    margin-left: 7px;
    text-indent: 0;
    top: 1px;
    position: relative;
}


#navigation ul ul.dropdown-nav ul.dropdown-nav li:hover a:after,
#navigation ul ul.dropdown-nav li:hover a:after,
#navigation ul li:hover a:after {
    color: #66676b;
    background: rgba(102, 103, 107, 0.13);
    opacity: 0.8;
}

#navigation ul ul.dropdown-nav ul.dropdown-nav li a:after {
    background-color: #f0f0f0;
    color: #a8a8a8;
    opacity: 1;
}


/* Dropdown Indicator */
#navigation ul ul.dropdown-nav ul.dropdown-nav li:hover a:after,
#navigation ul ul.dropdown-nav li:hover a:after {
    color: #fff !important;
    background-color: #66676b;
    opacity: 1;
}

#navigation ul ul.dropdown-nav ul.dropdown-nav li a:after,
#navigation ul ul.dropdown-nav li a:after {
    content: '\e917';
    position: absolute;
    left: auto;
    right: 20px;
    top: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #bbb;
    opacity: 1;
}

/* Current Indicator */
#navigation ul li a.current {
    color: #66676b !important;
}

#navigation ul li a.current:after {
    color: #66676b;
    background: rgba(102, 103, 107, 0.13);
    opacity: 0.8;
}

#navigation ul li a:only-child:after,
#navigation ul ul li a:only-child:after {
    content: '';
    display: none;
}

#navigation ul ul li:hover a:after {
    opacity: 1;
    transform: translateX(0);
}

#navigation ul li {
    transition: all 0.25s;
    margin: 0 5px;
    border-radius: 4px;
}

#navigation ul li a,
#navigation ul ul li a {
    color: #666;
    cursor: pointer;
}

#navigation ul a {
    line-height: 23px;
    padding: 7px 9px;
    border-right: 4px;
}

#navigation ul li:hover a {
    color: #66676b;
}


/* Dropdown Styles
------------------------------------- */
#navigation ul ul {
    background-color: #303030;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

#navigation ul ul li {
    border-radius: 4px;
}

#navigation ul ul li:last-child {
    border-bottom: none;
}

#navigation ul li:hover ul a,
#navigation ul ul a {
    padding: 4px 40px 4px 15px !important;
    line-height: 22px !important;
}

#navigation ul li:hover ul a:only-child,
#navigation ul a:only-child {
    padding: 10px 15px 4px 15px !important;
}

#navigation ul ul:after {
    content: "";
    position: absolute;
    left: 25px;
    top: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #303030;
}

body #navigation ul ul {
    padding: 14px 0;
    box-sizing: border-box;
    margin-top: 12px;
}

body #navigation ul ul ul {
    margin-top: 0;
}

#navigation ul ul:before {
    content: ".";
    position: absolute;
    width: 100%;
    height: 12px;
    top: -12px;
    opacity: 0;
    opacity: 0;
}

#navigation ul ul ul:before {
    width: calc(100% + 15px);
    left: -15px;
}

#navigation ul ul li {
    width: 208px;
}

#navigation ul ul li:hover {
    border-radius: 0;
}

#navigation ul ul li:first-child {
    border-radius: 4px 4px 0 0;
}

#navigation ul ul li:last-child {
    border-radius: 0 0 4px 4px;
}

#navigation ul ul {
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s;
    transform: translate3d(0, 15px, 0);
}

#navigation ul ul ul {
    transform: translate3d(15px, 0, 0);
}

#navigation ul li ul {
    z-index: 10;
}

#navigation ul li:hover ul {
    z-index: 20;
}

#navigation ul li:hover>ul {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
}

#navigation ul ul li {
    margin: 0;
    padding: 0 6px;
    border-radius: 0;
    font-size: 15.7px;
}

#navigation ul ul.dropdown-nav ul.dropdown-nav ul.dropdown-nav li a,
#navigation ul ul.dropdown-nav ul.dropdown-nav li a,
#navigation ul ul.dropdown-nav li a {
    transition: 0.3s;
    color: #aaa;
}

#navigation ul ul.dropdown-nav ul.dropdown-nav ul.dropdown-nav li:hover a,
#navigation ul ul.dropdown-nav ul.dropdown-nav li:hover a,
#navigation ul ul.dropdown-nav li:hover a {
    color: #fff;
}


/* ---------------------------------- */
/* Footer
------------------------------------- */
#footer {

    color: #c0c0c0;
}

#footer p {
    line-height: 26px;
}

.footer-top-section {
    border-bottom: 1px solid #484848;
}

.footer-top-section .footer-logo img {
    max-height: 46px;
}

.footer-rows-container {
    display: block;
    height: 96px;
    position: relative;
    z-index: 100;
}

.footer-row {
    display: inline-block;
    padding: 0 40px;
    border-right: 1px solid #484848;
    border-left: 1px solid #484848;
    float: left;
    height: 100%;
}

.footer-row-inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer-row-inner.footer-logo {
    position: relative;
    top: auto;
    transform: translateY(0);
    top: 50%;
    position: relative;
    height: 46px;
}

.footer-row-inner.footer-logo img {
    position: relative;
    top: 50%;
}

.footer-row:first-child {
    padding-left: 0;
    border-left: none;
}

.footer-row:last-child {
    padding-right: 0;
    border: none;
}

.footer-rows-right .footer-row:first-child {
    padding-left: 40px;
    border-left: 1px solid #484848;
}

.footer-rows-right {
    float: right;
    height: 100%;
}

/* Language Switcher */
.language-switcher.bootstrap-select.btn-group .dropdown-menu.inner {
    width: 100%;
}

.language-switcher.bootstrap-select:before {
    display: none;
}

.language-switcher.bootstrap-select .dropdown-menu {
    padding-top: 15px;
    top: calc(100% + 15px);
    width: 160px;
    left: auto;
    right: 0;
}

.language-switcher.bootstrap-select .dropdown-menu:before {
    position: absolute;
    top: -5px;
    content: "";
    right: 20px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
}

.language-switcher.bootstrap-select.btn-group button {
    height: 44px;
    padding-right: 35px;
    padding-left: 18px;
    color: #fff;
    background-color: #9237cb !important;
    transition: 0.3s;
    box-shadow: none;
}

.language-switcher.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    height: 44px;
    line-height: 44px;
}

.language-switcher.bootstrap-select.btn-group button:hover {
    background-color: #fff;
    color: #333;
}

.language-switcher.bootstrap-select.btn-group.open button,
.language-switcher.bootstrap-select.btn-group button:hover {
    background-color: #66676b;
    color: #1232D2;
}

.language-switcher.bootstrap-select.btn-group button .caret {
    transition: 0.3s;
}

.language-switcher.bootstrap-select.btn-group.open button .caret,
.language-switcher.bootstrap-select.btn-group button:hover .caret {
    border-top-color: #fff;
}

.language-switcher.bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 18px;
}

/* Social Icons */
.footer-social-links {
    list-style: none;
    margin: 0 -10px;
    margin-top: 3px;
    padding: 0;
}

.footer-social-links li {
    display: inline-block;
    padding: 0;
    margin: 0;
    float: left;
}

.footer-social-links li a {
    font-size: 20px;
    padding: 0 10px;
    color: #fff;
    display: inline-block;
    transition: 0.3s;
    opacity: 0.5;
    transform: translate3d(0, -0.5px, 0);
}

.footer-social-links li a:hover {
    opacity: 1;
}

/* Middle Section */
.footer-middle-section {
    padding: 60px 0;
    position: relative;
    z-index: 10;
}

#footer h3,
#footer h2,
.footer-links h3 {
    font-size: 18px;
    margin: 0 0 15px 0;
    padding: 0;
    display: block;
    color: #1232D2
}

#footer h3 i {
    position: relative;
    margin-right: 5px;
    top: 2px;
    font-size: 20px;
    font-weight: 400 !important;
}

.footer-links ul {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 0;
    display: block;
}

.footer-links ul li:first-child a {
    padding-top: 0;
}

.footer-links ul li:last-child a {
    padding-bottom: 0;
}

.footer-links ul li a {
    color: #c0c0c0;
    display: block;
    line-height: 25px;
    position: relative;
    z-index: 100;
    padding: 4px 0;
}

.footer-links ul li a span {
    display: inline-block;
    position: relative;
}

.footer-links ul li a:hover {
    color: #1232D2;
}

.footer-links ul li a span:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #66676b;
    height: 2px;
    display: block;
    transition: all 0.25s, opacity 0.2s;
    z-index: -1;
    border-radius: 3px;
    opacity: 0.5;
    width: 0;
}

.footer-links ul li a:hover span:before {
    width: 100%;
    opacity: 1;
}

/* Newsletter */
.newsletter {
    display: flex;
    margin-top: 20px;
}

.newsletter input,
.newsletter button {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius: 5px;
    border: solid 1px #777
}

.newsletter input {
    background: #fff;
    box-shadow: none;
    margin-bottom: 0;
}

.newsletter input:focus {
    box-shadow: none;
}

.newsletter button {
    background-color: #1232D2;
    border-radius: 4px;
    height: 48px;
    min-width: 48px;
    max-width: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
    margin-left: 10px;
    transition: 0.3s;
}

.newsletter button:hover {
    background-color: #1232D2;
    color: #fff;
}

.newsletter button i {
    width: 100%;
    line-height: 48px;
}


/* Copyrights */
.footer-bottom-section {
    padding: 25px 0;
    border-top: 1px solid #484848;
    text-align: center;
}

.footer-bottom-section strong {
    color: #fff;
    font-weight: 500;
}


/* Footer Media Queries*/
@media (max-width: 992px) {
    #footer h3 {
        margin-top: 45px;
    }

    .footer-middle-section {
        padding-top: 0;
        padding-bottom: 45px
    }
}

@media (max-width: 768px) {
    .content-left-offset {
        padding-left: 15px;
    }

    .content-right-offset {
        padding-left: 15px;
    }

    .footer-rows-container {
        height: auto;
        padding: 20px 0 40px 0;
    }

    .footer-rows-left,
    .footer-rows-right {
        float: none;
        height: auto;
    }

    .footer-row-inner.footer-logo img {
        top: 0;
    }

    .footer-row-inner {
        position: relative;
        top: 0;
        transform: translateY(0);
    }

    .footer-row-inner.footer-logo {
        top: 0;
        position: relative;
        height: 46px;
    }

    #footer .footer-row {
        padding: 0;
        float: none;
        padding: 20px 0 0 0;
        display: block;
        width: 100%;
        border: none;
    }

    .footer-rows-container .footer-rows-left,
    .footer-rows-container .footer-rows-right {
        display: block
    }

}