/* ---------------------------------- */
/* Site Defaults
------------------------------------- */

body {
    font-family: 'Roboto', sans-serif;
    color: #777;

}

h1,
h2,
h3 {
    font-family: 'Lato', sans-serif;
}

.pp-color {

    color: #742774
}

.eirevo-color {
    color: #1232D2;
}

/* -------------------------------------------------------------- */
/* 01. Import Section
----------------------------------------------------------------- */

@import url('icons.css');

/* ---------------------------------- */
/* Fonts
------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100&display=swap');

/* ---------------------------------- */
/* Header
------------------------------------- */
#logo {
    display: inline-block;
    border-right: 1px solid #e0e0e0;
    height: 100%;
    vertical-align: top;
    padding-right: 35px;
    margin-right: 20px;

    width: 150px;
}

#logo img {
    height: 42px;
    width: auto;
    top: 50%;
    position: relative;
    transform: translate3d(0, -50%, 0);
}

#header {
    position: relative;
    z-index: 999;
    padding: 0;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.12);
    font-size: 16px;
    height: 82px;
    background-color: #fff;
}

#header .container,
#header .right-side,
#header .left-side {
    height: 100%;
}

.right-side {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: 15px;
}

.right-side a {
    color: #1232D2;
}

/* Full Width Header */
header.fullwidth .container {
    max-width: 100%;
    margin: 0;
    padding: 0 35px;
}

/* ---------------------------------- */
/* Navigation
------------------------------------- */
#navigation {
    position: relative;
    display: inline-block;
    margin-top: 22px;
}

#navigation ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

#navigation ul a {
    display: block;
    text-decoration: none;
    padding: 5px 0;
}

#navigation ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0
}

#navigation ul li ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 9px;
    padding: 0;
    z-index: 99999;
}

#navigation ul ul li {
    float: none;
}

#navigation ul ul ul {
    top: 0;
    left: 100%;
    margin: 0 0 0 15px;
}

#navigation ul ul {
    margin: 0;
}

#navigation ul ul ul {
    pointer-events: none;
}

#navigation ul ul li:hover>ul {
    pointer-events: all;
}


#navigation ul ul:before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    background: rgba(255, 255, 255, 0);
    width: 100%;
    height: 10px;
}

#navigation ul ul ul:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 100%;
    left: -15px;
    top: 0;
    opacity: 0;
}

#navigation ul li:hover>ul {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

/* Indicator Arrow */
#navigation ul li a:after,
#navigation ul ul li a:after {
    font-family: "Material-Icons";
    content: '\e914';
    opacity: 1;
    font-size: 16px;
    transition: 0.2s;
    opacity: 1;
    line-height: 17px;
    width: 17px;
    height: 17px;
    background-color: #f0f0f0;
    color: #a8a8a8;
    display: inline-block;
    border-radius: 3px;
    margin-left: 7px;
    text-indent: 0;
    top: 1px;
    position: relative;
}


#navigation ul ul.dropdown-nav ul.dropdown-nav li:hover a:after,
#navigation ul ul.dropdown-nav li:hover a:after,
#navigation ul li:hover a:after {
    color: #66676b;
    background: rgba(102, 103, 107, 0.13);
    opacity: 0.8;
}

#navigation ul ul.dropdown-nav ul.dropdown-nav li a:after {
    background-color: #f0f0f0;
    color: #a8a8a8;
    opacity: 1;
}


/* Dropdown Indicator */
#navigation ul ul.dropdown-nav ul.dropdown-nav li:hover a:after,
#navigation ul ul.dropdown-nav li:hover a:after {
    color: #fff !important;
    background-color: #66676b;
    opacity: 1;
}

#navigation ul ul.dropdown-nav ul.dropdown-nav li a:after,
#navigation ul ul.dropdown-nav li a:after {
    content: '\e917';
    position: absolute;
    left: auto;
    right: 20px;
    top: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #bbb;
    opacity: 1;
}

/* Current Indicator */
#navigation ul li a.current {
    color: #66676b !important;
}

#navigation ul li a.current:after {
    color: #66676b;
    background: rgba(102, 103, 107, 0.13);
    opacity: 0.8;
}

#navigation ul li a:only-child:after,
#navigation ul ul li a:only-child:after {
    content: '';
    display: none;
}

#navigation ul ul li:hover a:after {
    opacity: 1;
    transform: translateX(0);
}

#navigation ul li {
    transition: all 0.25s;
    margin: 0 5px;
    border-radius: 4px;
}

#navigation ul li a,
#navigation ul ul li a {
    color: #666;
    cursor: pointer;
}

#navigation ul a {
    line-height: 23px;
    padding: 7px 9px;
    border-right: 4px;
}

#navigation ul li:hover a {
    color: #66676b;
}


/* Dropdown Styles
------------------------------------- */
#navigation ul ul {
    background-color: #303030;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

#navigation ul ul li {
    border-radius: 4px;
}

#navigation ul ul li:last-child {
    border-bottom: none;
}

#navigation ul li:hover ul a,
#navigation ul ul a {
    padding: 4px 40px 4px 15px !important;
    line-height: 22px !important;
}

#navigation ul li:hover ul a:only-child,
#navigation ul a:only-child {
    padding: 10px 15px 4px 15px !important;
}

#navigation ul ul:after {
    content: "";
    position: absolute;
    left: 25px;
    top: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #303030;
}

body #navigation ul ul {
    padding: 14px 0;
    box-sizing: border-box;
    margin-top: 12px;
}

body #navigation ul ul ul {
    margin-top: 0;
}

#navigation ul ul:before {
    content: ".";
    position: absolute;
    width: 100%;
    height: 12px;
    top: -12px;
    opacity: 0;
    opacity: 0;
}

#navigation ul ul ul:before {
    width: calc(100% + 15px);
    left: -15px;
}

#navigation ul ul li {
    width: 208px;
}

#navigation ul ul li:hover {
    border-radius: 0;
}

#navigation ul ul li:first-child {
    border-radius: 4px 4px 0 0;
}

#navigation ul ul li:last-child {
    border-radius: 0 0 4px 4px;
}

#navigation ul ul {
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s;
    transform: translate3d(0, 15px, 0);
}

#navigation ul ul ul {
    transform: translate3d(15px, 0, 0);
}

#navigation ul li ul {
    z-index: 10;
}

#navigation ul li:hover ul {
    z-index: 20;
}

#navigation ul li:hover>ul {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
}

#navigation ul ul li {
    margin: 0;
    padding: 0 6px;
    border-radius: 0;
    font-size: 15.7px;
}

#navigation ul ul.dropdown-nav ul.dropdown-nav ul.dropdown-nav li a,
#navigation ul ul.dropdown-nav ul.dropdown-nav li a,
#navigation ul ul.dropdown-nav li a {
    transition: 0.3s;
    color: #aaa;
}

#navigation ul ul.dropdown-nav ul.dropdown-nav ul.dropdown-nav li:hover a,
#navigation ul ul.dropdown-nav ul.dropdown-nav li:hover a,
#navigation ul ul.dropdown-nav li:hover a {
    color: #fff;
}


/* ---------------------------------- */
/* Footer
------------------------------------- */
#footer {

    color: #c0c0c0;
}

#footer p {
    line-height: 26px;
}

.footer-top-section {
    border-bottom: 1px solid #484848;
}

.footer-top-section .footer-logo img {
    max-height: 46px;
}

.footer-rows-container {
    display: block;
    height: 96px;
    position: relative;
    z-index: 100;
}

.footer-row {
    display: inline-block;
    padding: 0 40px;
    border-right: 1px solid #484848;
    border-left: 1px solid #484848;
    float: left;
    height: 100%;
}

.footer-row-inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer-row-inner.footer-logo {
    position: relative;
    top: auto;
    transform: translateY(0);
    top: 50%;
    position: relative;
    height: 46px;
}

.footer-row-inner.footer-logo img {
    position: relative;
    top: 50%;
}

.footer-row:first-child {
    padding-left: 0;
    border-left: none;
}

.footer-row:last-child {
    padding-right: 0;
    border: none;
}

.footer-rows-right .footer-row:first-child {
    padding-left: 40px;
    border-left: 1px solid #484848;
}

.footer-rows-right {
    float: right;
    height: 100%;
}

/* Language Switcher */
.language-switcher.bootstrap-select.btn-group .dropdown-menu.inner {
    width: 100%;
}

.language-switcher.bootstrap-select:before {
    display: none;
}

.language-switcher.bootstrap-select .dropdown-menu {
    padding-top: 15px;
    top: calc(100% + 15px);
    width: 160px;
    left: auto;
    right: 0;
}

.language-switcher.bootstrap-select .dropdown-menu:before {
    position: absolute;
    top: -5px;
    content: "";
    right: 20px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
}

.language-switcher.bootstrap-select.btn-group button {
    height: 44px;
    padding-right: 35px;
    padding-left: 18px;
    color: #fff;
    background-color: #9237cb !important;
    transition: 0.3s;
    box-shadow: none;
}

.language-switcher.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    height: 44px;
    line-height: 44px;
}

.language-switcher.bootstrap-select.btn-group button:hover {
    background-color: #fff;
    color: #333;
}

.language-switcher.bootstrap-select.btn-group.open button,
.language-switcher.bootstrap-select.btn-group button:hover {
    background-color: #66676b;
    color: #1232D2;
}

.language-switcher.bootstrap-select.btn-group button .caret {
    transition: 0.3s;
}

.language-switcher.bootstrap-select.btn-group.open button .caret,
.language-switcher.bootstrap-select.btn-group button:hover .caret {
    border-top-color: #fff;
}

.language-switcher.bootstrap-select.btn-group .dropdown-toggle .caret {
    right: 18px;
}

/* Social Icons */
.footer-social-links {
    list-style: none;
    margin: 0 -10px;
    margin-top: 3px;
    padding: 0;
}

.footer-social-links li {
    display: inline-block;
    padding: 0;
    margin: 0;
    float: left;
}

.footer-social-links li a {
    font-size: 20px;
    padding: 0 10px;
    color: #fff;
    display: inline-block;
    transition: 0.3s;
    opacity: 0.5;
    transform: translate3d(0, -0.5px, 0);
}

.footer-social-links li a:hover {
    opacity: 1;
}

/* Middle Section */
.footer-middle-section {
    padding: 60px 0;
    position: relative;
    z-index: 10;
}

#footer h3,
#footer h2,
.footer-links h3 {
    font-size: 18px;
    margin: 0 0 15px 0;
    padding: 0;
    display: block;
    color: #1232D2
}

#footer h3 i {
    position: relative;
    margin-right: 5px;
    top: 2px;
    font-size: 20px;
    font-weight: 400 !important;
}

.footer-links ul {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 0;
    display: block;
}

.footer-links ul li:first-child a {
    padding-top: 0;
}

.footer-links ul li:last-child a {
    padding-bottom: 0;
}

.footer-links ul li a {
    color: #c0c0c0;
    display: block;
    line-height: 25px;
    position: relative;
    z-index: 100;
    padding: 4px 0;
}

.footer-links ul li a span {
    display: inline-block;
    position: relative;
}

.footer-links ul li a:hover {
    color: #1232D2;
}

.footer-links ul li a span:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #66676b;
    height: 2px;
    display: block;
    transition: all 0.25s, opacity 0.2s;
    z-index: -1;
    border-radius: 3px;
    opacity: 0.5;
    width: 0;
}

.footer-links ul li a:hover span:before {
    width: 100%;
    opacity: 1;
}

/* Newsletter */
.newsletter {
    display: flex;
    margin-top: 20px;
}

.newsletter input,
.newsletter button {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius: 5px;
    border: solid 1px #777
}

.newsletter input {
    background: #fff;
    box-shadow: none;
    margin-bottom: 0;
}

.newsletter input:focus {
    box-shadow: none;
}

.newsletter button {
    background-color: #1232D2;
    border-radius: 4px;
    height: 48px;
    min-width: 48px;
    max-width: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
    margin-left: 10px;
    transition: 0.3s;
}

.newsletter button:hover {
    background-color: #1232D2;
    color: #fff;
}

.newsletter button i {
    width: 100%;
    line-height: 48px;
}


/* Copyrights */
.footer-bottom-section {
    padding: 25px 0;
    border-top: 1px solid #484848;
    text-align: center;
}

.footer-bottom-section strong {
    color: #fff;
    font-weight: 500;
}


/* Footer Media Queries*/
@media (max-width: 992px) {
    #footer h3 {
        margin-top: 45px;
    }

    .footer-middle-section {
        padding-top: 0;
        padding-bottom: 45px
    }
}

@media (max-width: 768px) {
    .content-left-offset {
        padding-left: 15px;
    }

    .content-right-offset {
        padding-left: 15px;
    }

    .footer-rows-container {
        height: auto;
        padding: 20px 0 40px 0;
    }

    .footer-rows-left,
    .footer-rows-right {
        float: none;
        height: auto;
    }

    .footer-row-inner.footer-logo img {
        top: 0;
    }

    .footer-row-inner {
        position: relative;
        top: 0;
        transform: translateY(0);
    }

    .footer-row-inner.footer-logo {
        top: 0;
        position: relative;
        height: 46px;
    }

    #footer .footer-row {
        padding: 0;
        float: none;
        padding: 20px 0 0 0;
        display: block;
        width: 100%;
        border: none;
    }

    .footer-rows-container .footer-rows-left,
    .footer-rows-container .footer-rows-right {
        display: block
    }

}


/* ---------------------------------- */
/* Forms Reset & Styles
------------------------------------- */
input,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
select {
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    outline: none;
    font-size: 16px;
    color: #808080;
    margin: 0 0 16px 0;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    font-weight: 500;
    opacity: 1;
    border-radius: 4px;
    border: none;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.12);
}

select {
    padding: 15px 18px;
    cursor: pointer;
}

input {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

input:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
    color: #808080;
    transition: box-shadow 0.2s !important;
    opacity: 1;
    border: none;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.12);
}

input:-webkit-autofill:focus,
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
    -webkit-text-fill-color: #808080 !important;
}

/* With Border */
input.with-border,
input[type="text"].with-border,
input[type="password"].with-border,
input[type="email"].with-border,
input[type="number"].with-border,
textarea.with-border,
select.with-border {
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
}

input.with-border:focus,
input[type="text"].with-border:focus,
input[type="password"].with-border:focus,
input[type="email"].with-border:focus,
input[type="number"].with-border:focus,
textarea.with-border:focus {
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.08);
}

input[type="submit"] {
    border: none;
    padding: 11px 18px;
    width: auto;
}

input[type="checkbox"] {
    display: inline;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
    box-shadow: none;
}


/* Input Placeholder Color */
::placeholder {
    color: #808080;
    opacity: 1;
}

textarea {
    height: auto;
    line-height: 27px;
    padding: 20px;
    min-height: 130px;
    transition: none !important;
    min-width: 100%;
}

label,
legend {
    display: block;
    font-weight: bold;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 8px;
}


label span,
legend span {
    font-weight: normal;
    font-size: 14px;
    color: #444;
}

fieldset {
    padding: 0;
    border: none;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    cursor: pointer;
}

a {
    color: #66676b;
    transition: 0.3s;
}

a,
button {
    outline: none !important;
}

a:focus,
a:hover {
    text-decoration: none;
    color: #333;
}

img {
    max-width: 100%;
}


/* ---------------------------------- */
/* Freelancers - Grid Layout
------------------------------------- */
.freelancers-container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 30px);
}

.freelancer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px 30px 0;
    width: calc(100% * (1/2) - 30px);
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    transition: 0.3s;
    position: relative;
    cursor: default;
}

.freelancer:hover {
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.14);
    transform: translateY(-4px);
}

.freelancer .bookmark-icon {
    cursor: pointer;
}

.freelancer-overview {
    text-align: center;
    padding: 38px 20px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.freelancer-overview-inner {
    flex: 1;
}

.freelancer-overview .freelancer-avatar {
    width: 110px;
    margin: 0 auto;
    position: relative;
}

.freelancer-overview .freelancer-avatar img {
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.freelancer-overview .freelancer-avatar .verified-badge {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
}

.freelancer-name {
    margin-top: 19px;
}

.freelancer-rating {
    margin-top: 5px;
    margin-bottom: -10px;
}

.freelancer-name h4,
.freelancer-name h4 a {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
}

.freelancer-name img.flag {
    height: 35px;
    border-radius: 3px;
    position: relative;
    top: -1px;
    display: inline-block;
    /*box-shadow: 0 0 3px rgba(0,0,0,0.2);*/
    margin-left: 4px;
    cursor: default;
    margin-bottom: 10px;
}

.freelancer-name span {
    color: #888;
}

.freelancer-details {
    padding: 35px;
    background-color: #fafafa;
    flex-grow: 0;
}

.freelancers-grid-layout .freelancer-details {
    border-radius: 0 0 4px 4px;
}

.freelancers-grid-layout .freelancer-details a.button {
    display: block;
    text-align: center;
    width: 100% !important;
    transition: 0.3s;
    box-shadow: 0 4px 12px rgba(102, 103, 107, 0.1);
}

.freelancer-details a.button:hover {
    box-shadow: 0 4px 12px rgba(102, 103, 107, 0.2);
}

.freelancer-details-list ul {
    list-style: none;
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 14.7px;
    text-align: center;
}

.freelancer-details-list ul li {
    display: inline-block;
    margin-right: 25px;
    line-height: 23px;
    color: #808080;
    margin-bottom: 15px;
}

.freelancer-details-list ul li:last-child {
    margin-right: 0;
}

.freelancer-details-list ul li strong {
    display: block;
    color: #333;
}

.freelancer-details-list ul li strong i {
    position: relative;
    top: 1px;
    margin-right: -1px;
    margin-left: -2px;
}


/* Detail Item */
.freelancer-detail-item {
    display: inline-block;
    margin: 2px 10px 5px 0;
}

.freelancer-detail-item a,
.freelancer-detail-item {
    color: #888;
}

.freelancer-detail-item a:hover {
    color: #66676b;
}

.freelancer-detail-item i {
    position: relative;
    top: 2px;
    margin-right: 3px;
}


/* Media Queiers for Freelancers List */
@media (max-width: 1366px) {
    .freelances-grid-layout .freelancer-overview .freelancer-avatar {
        width: 100px;
    }
}

@media (max-width: 768px) {
    .freelances-grid-layout.freelancers-container {
        width: 100%;
    }

    .freelances-grid-layout .freelancer {
        margin: 0 0 30px 0;
        width: 100%;
    }

    .freelancers-container.freelancers-grid-layout {
        width: 100%;
    }

    .freelancers-container.freelancers-grid-layout .freelancer {
        width: 100%;
        margin-right: 0;
    }
}

/* Full Page Media Queiers for Freelancers List */
@media (max-width: 2560px) {
    .full-page-container .freelancer {
        width: calc(100% * (1/4) - 30px);
    }
}

@media (max-width: 1920px) {
    .full-page-container .freelancer {
        width: calc(100% * (1/3) - 30px);
    }
}

@media (max-width: 1366px) {
    .full-page-container .freelancer {
        width: calc(100% * (1/2) - 30px);
    }
}

@media (max-width: 1099px) {
    .full-page-container .freelancers-container {
        width: 100%;
    }

    .full-page-container .freelancer {
        width: 100%;
        margin-right: 0;
    }
}

/* ---------------------------------- */
/* Freelancers - List Layout
------------------------------------- */
.freelancers-container.freelancers-list-layout {
    width: 100%;
}

.freelancers-list-layout .freelancer {
    margin: 0 0 30px 0;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}


.freelancers-list-layout .freelancer-overview {
    text-align: left;
    padding: 45px 40px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.freelancers-list-layout .freelancer-overview-inner {
    flex: 1;
    display: flex;
    align-items: center;
}

.freelancers-list-layout .freelancer-details {
    padding: 45px 40px 45px 0;
    background-color: transparent;
    flex: 0 0 360px;
}

.freelancers-list-layout .freelancer-overview .freelancer-avatar {
    width: 100px;
    margin: 0;
}

.freelancers-list-layout .freelancer-overview .freelancer-name {
    text-align: left;
    margin: 0 0 0 30px;
}

.freelancers-list-layout .freelancer-details a.button {
    display: block;
    text-align: center;
    min-width: 50%;
    max-width: 100%;
    width: auto !important;
    transition: 0.3s;
    float: right;
    box-shadow: 0 4px 12px rgba(102, 103, 107, 0.15);
}

.freelancers-list-layout .freelancer-details a.button:hover {
    box-shadow: 0 4px 12px rgba(102, 103, 107, 0.25);
}

.freelancers-list-layout .bookmark-icon {
    display: none;
}

.freelancers-list-layout .freelancer-details-list ul {
    float: right;
    display: block
}

.freelancers-list-layout .freelancer-details-list ul li {
    margin-left: 25px;
    margin-right: 0;
    float: right;
}

/* Freelancers Compact List */
.compact-list.freelancers-list-layout .freelancer {
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: none;
}

.compact-list.freelancers-list-layout .freelancer:hover {
    transform: translateY(0);
}

.compact-list.freelancers-list-layout {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
}

.compact-list.freelancers-list-layout .freelancer:nth-child(2n) {
    background-color: #fafafa;
}

.compact-list.freelancers-list-layout .freelancer:hover:before {
    opacity: 1;
}

.compact-list.freelancers-list-layout .freelancer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    display: block;
    background: #66676b;
    transition: 0.3s;
    opacity: 0;
}

.compact-list.freelancers-list-layout .freelancer:last-of-type {
    border-radius: 0 0 3px 3px;
    overflow: hidden;
}

.compact-list.freelancers-list-layout .freelancer:first-of-type {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}


/* Media Queiers for Freelancers List Layout */
@media (max-width: 1366px) {
    .freelancers-list-layout .freelancer-overview .freelancer-avatar {
        width: 100px;
    }
}

@media (max-width: 1240px) {

    .freelancers-list-layout .freelancer {
        flex-direction: column;
    }

    .freelancers-list-layout .freelancer-details {
        flex: 1;
        padding: 35px 40px;
        background-color: #fafafa;
    }

    .freelancers-list-layout .freelancer-details-list ul {
        float: left;
    }

    .freelancers-list-layout .freelancer-details-list ul li {
        margin-left: 0;
        margin-right: 25px;
        float: left;
    }

    .freelancers-list-layout .freelancer-details a.button {
        float: none;
        width: 100% !important;
    }

    .freelancers-list-layout .freelancer-overview .freelancer-avatar {
        width: 90px;
    }

    /* Compact Layout */
    .compact-list.freelancers-list-layout .freelancer-details {
        background-color: transparent;
        padding-top: 0;
    }
}

@media (max-width: 768px) {

    .freelancers-list-layout .freelancer-overview,
    .freelancers-list-layout .freelancer-details {
        padding: 30px;
    }

    .freelancers-list-layout .freelancer-overview .freelancer-avatar {
        width: 80px;
    }

    .freelancers-list-layout .star-rating:before {
        display: block;
        float: none;
        text-align: center;
        max-width: 40px;
        margin-bottom: 4px;
    }
}

/* ---------------------------------- */
/* Intro Banner
------------------------------------- */
.intro-banner {
    padding: 105px 0px;
    position: relative;
}

.intro-banner.big-padding {
    padding: 130px 0;
}

.intro-banner .container {
    z-index: 100;
    position: relative;
}

.intro-banner:after,
.intro-banner:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 15;
    background: linear-gradient(to right, rgba(250, 250, 250, 1) 20%, rgba(250, 250, 250, .95) 50%, rgba(250, 250, 250, 0.1) 80%, rgba(250, 250, 250, 0) 100%);
}

.intro-banner:after {
    z-index: 5;
    background-color: #fafafa;
}

.intro-banner .background-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 60%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 90%;
    left: 10%;
    z-index: 10;
    overflow: hidden;
}

/* Disabled Gradient */
.intro-banner.disable-gradient:before {
    background: #f2f2f2;
    opacity: 0.85;
}

.intro-banner.disable-gradient .background-image-container {
    left: 0;
    width: 100%;
}

/* Banner Headline */
.banner-headline {
    display: block;
    max-width: 55%;
}

.banner-headline h1,
.banner-headline h2,
.banner-headline h3,
.banner-headline h4 {
    font-size: 28px;
    font-weight: 300;
    color: #777;
    line-height: 42px;
}

.banner-headline strong {
    font-weight: 600;
    color: #333;
}

.banner-headline strong.color {
    color: #66676b;
}


/* Alternative Headline */
.banner-headline-alt {
    margin: -10px 0 0 0;
    display: block;
}

.banner-headline-alt h3 {
    font-size: 40px;
    font-weight: 600;
    color: #333;
    line-height: 50px;
}

.banner-headline-alt span {
    font-size: 24px;
    color: #888;
    font-weight: 300;
    line-height: 34px;
    margin-top: 5px;
    display: inline-block;
}

.dark-overlay .banner-headline-alt h3 {
    color: #fff;
}

.dark-overlay .banner-headline-alt span {
    color: rgba(255, 255, 255, 0.7);
}


/* ---------------------------------- */
/* Text Banner
------------------------------------- */
.photo-section {
    background-size: cover;
    background-position: 50%;
    display: block;
    position: relative;
}

.photo-section:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.1;
    display: block;
    position: absolute;
    top: 0;
}



/* Styles for info banner with parallax */
.text-content {
    background: transparent;
    padding: 110px 0px;
    font-weight: 500;
    z-index: 99;
    position: relative;
}



.text-content a.button {
    font-size: 16px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.text-content p {
    font-size: 18px;
    font-weight: 300;
    line-height: 31px;
    opacity: 0.85;
}

.text-content h2 {
    margin-bottom: 23px;
    line-height: 46px;
    font-size: 34px;
    font-weight: 500;
}

.top-1 {
    position: relative;
    top: -1px;
}

.top-0 {
    position: relative;
}


@media (max-width: 992px) {
    .text-content {
        padding: 80px 0;
    }

    .text-content h2 {
        margin-bottom: 20px;
        line-height: 40px;
        font-size: 30px;
        font-weight: 500;
    }
}


/* Slide Out Button */
.button.button-slide-out span {
    transform: translateY(0px);
    opacity: 1;
    transition: 0.3s;
}

.button.button-slide-out:hover span {
    transform: translateY(-10px);
    opacity: 0;
    display: inline-block;
    transition: 0.3s;
}

.button.button-slide-out i {
    transform: translateY(calc(-50% + 10px));
    opacity: 0;
    display: inline-block;
    transition: 0.3s;
    position: absolute;
    left: 0;
    right: 0;
    font-size: 18px;
    top: 50%;
    height: 20px;
}

.button.button-slide-out:hover i {
    transform: translateY(calc(-50% + 0px));
    opacity: 1;
}


/* Move on Hover */
.move-on-hover {
    box-shadow: 0 4px 12px rgba(102, 103, 107, 0.1);
    transform: translateY(0);
    transition: 0.3s;
}

.move-on-hover:hover {
    box-shadow: 0 4px 12px rgba(102, 103, 107, 0.2);
    transform: translateY(-2px)
}

/* ---------------------------------- */
/* Ripple Effect
------------------------------------- */
.ripple-effect-dark,
.ripple-effect {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.ripple-effect span.ripple-overlay,
.ripple-effect-dark span.ripple-overlay {
    animation: ripple 0.9s;
    border-radius: 100%;
    background: #fff;
    height: 12px;
    position: absolute;
    width: 12px;
    line-height: 12px;
    opacity: 0.1;
    pointer-events: none;
}

.ripple-effect-dark span.ripple-overlay {
    background: #000;
    opacity: 0.07;
}

@keyframes ripple {
    0% {
        -webkit-transform: scale(4);
        transform: scale(4);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(40);
        transform: scale(40);
    }
}